[submodule "smartContract/lib/forge-std"]
	path = smartContract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "smartContract/lib/openzeppelin-contracts"]
	path = smartContract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
